.hero p {
  font-size: 2rem;
  margin-bottom: 40px;
  width: clamp(300px, 80%, 1200px);
}
.hero h1 {
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 20px;
  padding: 40px 0 10px;
}
.hero {
  width: 80%;
  margin: 0 auto;
}
