.work-box {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 100%;
  align-items: flex-start;
  h2 {
    margin-bottom: 10px;
  }
  img {
    max-width: 60%;
    object-fit: contain;
  }

  .tags {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }

  .tag {
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
