.values_wrapper {
  margin: 20px 0 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 columns of equal width */
  gap: 20px; /* Adjust the gap between grid items as needed */
}

.value_box {
  padding: 40px;
}
.value_box p {
  font-size: 1.4rem;
}

.value_box h4 {
  opacity: 0.3;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
  margin: 0px 0px 0.7rem;
}
.value_box h3 {
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}

.cv_wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;

  ul {
    list-style: none;
  }

  .cv_entry {
    padding: 20px;
    border-left: 1px solid;
    position: relative;
  }

  .cv_entry::after {
    content: "";
    position: absolute;

    width: 15px;
    height: 15px;
    left: -7px;
    background-color: black;
    border: 1px solid white;
    top: 24px;
    border-radius: 50%;
    z-index: 1;
  }
}

.about h2 {
  font-size: 2rem !important;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 40px !important;
}
