nav {
  margin: 0 10px;
  width: calc(100% - 20px);
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  line-height: 100%;
  height: 40px;
  top: 10px;
  z-index: 1000;
  opacity: 0.9; /* Slightly increase opacity for better visibility */
  backdrop-filter: blur(10px); /* Adjust blur for frosted glass effect */
  border-radius: 20px; /* Optional: rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}

.nav-first-half {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logo {
  font-weight: 700;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.nav-second-half {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  letter-spacing: -0.05em;
  flex-grow: 1;
  align-items: flex-start;
}

.toggle-theme {
  margin-left: auto;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background-color: black;
  color: white;
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100vw;
    background-color: black;
    height: 100svh;
  }

  .open-sidebar-button {
    margin-left: auto;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
  }

  #sidebar-active:checked ~ .nav-links {
    display: flex;
  }
  .toggle-theme {
    margin-left: 0;
  }
}
