@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container */

html {
  scroll-behavior: smooth;
}
body {
  font-size: 100%;
  transition: color 1s ease-in-out;
  box-sizing: border-box;
}

.narrow {
  max-width: 80vw;
  margin: 0 auto;
}

main {
  padding: 120px 0;
  position: relative;
  h1 {
    padding: 10px 0px 20px;
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 100%;
    font-weight: 600;
    margin: 0px;
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
    margin: 0px 0px 15px;
  }

  p,
  li {
    font-size: 2rem;
    font-weight: 200;
    line-height: 120%;
  }
  ul {
    list-style-position: outside;
    padding-left: 0; /* Remove default padding */
    margin-left: 0; /* Remove default margin */
  }
  img {
    padding: 40px 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
