@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container */
body {
  font-size: 100%;
  transition: color 1s ease-in-out;
}

main {
  h1 {
    padding: 40px 20px;
    font-size: 8rem;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background-color: linear-gradient(90deg, #f6f6f6, #fff);
  }

  h2 {
    padding: 0 20px;
    font-size: 3rem;
    line-height: 100%;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top: 40px;
  }

  .lead-text {
    padding: 20px;
    font-size: 2rem;
    font-weight: 200;
    line-height: 115%;
  }

  p {
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 120%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
