@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container */
body {
  font-size: 100%;
  transition: color 1s ease-in-out;
  box-sizing: border-box;
}

main {
  h1 {
    padding: 40px 20px;
    font-size: 8rem;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background-color: linear-gradient(90deg, #f6f6f6, #fff);
  }

  h2 {
    font-size: 1.5rem;
    line-height: 100%;
    font-weight: 600;
    margin: 0px;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 100%;
    font-weight: 600;
    margin: 0px;
    opacity: 0.5;
  }

  .lead-text {
    padding: 20px;
    font-size: 2rem;
    font-weight: 200;
    line-height: 115%;
    font-style: italic;
  }

  p {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 120%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
